.firstNavbar{
    background-color: #131921 !important;
    padding: 20px 0;
}
.firstNavbar a{
    color: #fff;
    font-size: 22px;
}
.firstNavbar a:hover{
    color: #fff;
}
.cartImg{
    width: 20px;
    height: 20px;
    display: block;
    color: #fff;
}


.secondNavbar{
    background-color: #222F3F !important;
}
.secondNavbar a{
    color: #fff;
    font-size: 18px;
}
.secondNavbar a:hover{
    color: #fff;
}
.nav-link{
    color: aqua !important;
}